* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
}

#screen {
    width: 100%;
    /* height: 900px; */
    background-color: rgb(240, 242, 245);
    /* overflow: scroll; */
    position: relative;
    /* background-color: pink; */
}

#home {
    width: 100%;
    /* margin-top: 10vh; */
    /* border: 1px solid red; */
    /* margin: auto; */
    display: flex;
    justify-content: space-around;
}

/* scroll css */

#menu {
    width: 20%;
    height: 700px;
    /* border: 1px solid red; */
    /* overflow: scroll; */
}

#menu:hover {
    overflow-x: scroll;
}

/* width */
#menu::-webkit-scrollbar {
    width: 10px;
    /* height: 20vh; */
    /* border-radius: 10px; */
}

/* Track */
#menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
#menu::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
#menu::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#inner_menu {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid black; */
}

.menu {
    width: 95%;
    height: 8vh;
    margin: auto;
    margin-bottom: 5px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu>div:nth-child(1) {
    width: 20%;
    height: 80%;
    /* border: 1px solid black; */
    border-radius: 100%;
}

.menu>div:nth-child(1)>img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.menu>div:nth-child(1)>FcVideoCall {
    width: 80%;
    height: 100%;
}

.menu>div:nth-child(2) {
    width: 70%;
    height: 80%;
    /* border: 1px solid black; */
}

.menu>div:nth-child(2)>h3 {
    padding-top: 10px;
}




#post {
    width: 45%;
    /* border: 1px solid red; */
}

#post_div_first {
    width: 99%;
    height: 10vh;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#post_div_first_left {
    width: 10%;
    height: 80%;
    border-radius: 100%;
    background-color: rgb(63, 144, 251);
}

#post_div_first_left>i {
    padding: 27px 21px;
    color: white;

}

#post_div_first_right {
    width: 88%;
    height: 80%;
    /* border: 1px solid black; */
    line-height: 20px;
    padding-top: 10px;
}

#post_div_sec {
    width: 90%;
    height: 20vh;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
}

#post_div_sec_top {
    width: 90%;
    height: 10vh;
    margin: auto;
    border-bottom: 1.5px solid lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#post_div_sec_top_left {
    width: 10%;
    height: 80%;
    border-radius: 100%;
}

#post_div_sec_top_left>img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#post_div_sec_top_right {
    width: 85%;
    height: 70%;
}

#post_div_sec_top_right>input {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: lightgray;
}

#post_div_sec_bottom {
    width: 90%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.post_div_sec_bottom {
    width: 30%;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#like_btn {
    width: 20%;
    height: 4vh;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

#post_div_third {
    width: 90%;
    /* height: 60vh; */
    margin: auto;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}

#post_div_third_top {
    width: 98%;
    height: 5vh;
    border-bottom: 1px solid lightgray;
    margin: auto;
}

#post_div_third_top>p {
    padding: 10px;
}

#post_div_third_middle {
    width: 98%;
    height: 10vh;
    margin: auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: center;
}

#post_div_third_middle>div:nth-child(1) {
    width: 40%;
    height: 80%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#post_div_third_middle>div:nth-child(1)>div {
    width: 20%;
    height: 80%;
    border-radius: 100%;
    /* border: 1px solid red; */
}

#post_div_third_middle>div:nth-child(1)>div:nth-child(1)>img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#post_div_third_middle>div:nth-child(2) {
    width: 20%;
    height: 80%;
    /* border-radius: 100%; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#post_div_third_middle>div:nth-child(2)>div {
    width: 30%;
    height: 80%;
    /* border: 1px solid red; */
    /* border-radius: 100%; */
}

#post_div_third_middle>div:nth-child(2)>div>i {
    padding: 10px;
}

#post_div_third_bottom {
    width: 100%;
    height: 50vh;
}

#post_div_third_bottom>img {
    width: 100%;
    height: 100%;
}

#lsc {
    width: 90%;
    height: 4vh;
    border-bottom: 1px solid lightgray;
}

#other {
    width: 25%;
    /* border: 1px solid red; */
}

#inner_other {
    width: 80%;
    height: 15vh;
    margin: auto;
    margin-top: 10px;
    /* border: 1px solid red; */
}


/* post */
#post_screen {
    width: 100%;
    height: 110vh;
    background-color: hsla(0, 0%, 0%, 0.2);
    position: absolute;
    top: 0;
    z-index: 999;
}

#inner_post {
    width: 30%;
    height: 73vh;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
}

#post_heading {
    width: 99%;
    height: 6vh;
    border-bottom: 1px solid lightgrey;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#post_heading_text {
    width: 85%;
    height: 80%;
    /* border: 1px solid red; */
}

#post_heading_text>h3 {
    text-align: center;
    padding-top: 5px;
}

#post_close {
    width: 8%;
    height: 80%;
    border-radius: 100%;
    /* border: 1px solid red; */
    background-color: rgb(228,230,235);
}

#post_body {
    width: 98%;
    /* height: 59vh; */
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 5px;
}

#post_body_first {
    width: 100%;
    height: 10vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#post_pro {
    width: 12%;
    height: 80%;
    border-radius: 100%;
    /* border: 1px solid black; */
}

#post_pro>img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#post_info {
    width: 86%;
    height: 80%;
    /* border: 1px solid black; */
}

#post_body_sec {
    width: 100%;
    height: 10vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#post_input {
    width: 88%;
    height: 70%;
    /* border: 1px solid red; */
}

#post_input>input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

#post_emoji {
    width: 10%;
    height: 60%;
    border-radius: 100%;
    /* border: 1px solid black; */
}

#post_body_third {
    width: 100%;
    height: 30vh;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#inner_post_body_third {
    width: 90%;
    height: 90%;
    background-color: lightgrey;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}
/* #inner_post_body_third>h5,p{
text-align: center;
} */
#post_body_fourth {
    width: 100%;
    height: 8vh;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

#post_body_fourth_left {
    width: 40%;
    height: 80%;
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 10px;
}

#post_body_fourth_right {
    width: 60%;
    height: 80%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
}

.post_body_fourth_right {
    width: 15%;
    height: 100%;
    /* border: 1px solid red; */
}

.post_body_fourth_right>img {
    width: 50%;
    height: 80%;
    margin: auto;
    margin: 5px 10px;
}

#post_btn {
    width: 100%;
    height: 4vh;
    background-color: lightgrey;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

#post_btn>button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}